[Unit]
Description=Network Tracker Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/XXX/DNSMasqTrafficMonitor/server_monitor.py
WorkingDirectory=/home/XXX/
Restart=always
User=khinds
Group=khinds

[Install]
WantedBy=multi-user.target

